#* * * * * root echo `date` >> /var/log/cron.log && test -x /usr/sbin/logrotate && /usr/sbin/logrotate -f /etc/logrotate.conf && echo "logrotate-success" >> /var/log/cron.log 2>&1
10 0 * * * root sh /usr/script/crontab.sh >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job